.footer {
  color: #ffffff;
}

.custom-footer {
  background-color: #343a40;
  border-top: 3px solid #f8c102;
}

.custom-footer p {
  margin: 0;
  font-size: 14px;
}

.custom-footer b {
  color: #f8c102;
}
