.footer {
  color: #ffffff; /* Белый текст */
}

.custom-footer {
  background-color: #343a40; /* Темный фон */
  border-top: 3px solid #f8c102; /* Золотистая линия сверху */
}

.custom-footer p {
  margin: 0;
  font-size: 14px; /* Размер шрифта */
}

.custom-footer b {
  color: #f8c102; /* Золотистый акцент для выделения */
}
